<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.BoardMapper">
   
   <!-- 게시글 전체가져오기 -->
   <select id="selectAllCount" resultType="int">
       select count(*) from board
   </select>
   
   <select id="selectAll" resultType="com.java.dto.BoardDto">
   		select * from
        ( select row_number() over (order by bgroup desc,bstep asc) rnum, 
          a.* from board a ) where rnum between #{startrow} and #{endrow}
   </select>
   <!-- 검색 -->
   <select id="selectSearch" resultType="com.java.dto.BoardDto">
   		select * from board 
   		<if test="category == 'btitle' or category == 'bcontent'">
   		where ${category} like '%'||#{search}||'%'
   		</if>
   		<if test="category == 'all'">
   		where btitle like '%'||#{search}||'%' or bcontent like '%'||#{search}||'%'
   		</if>
   		order by bgroup desc,bstep asc 
   </select>
   <!-- 게시글 1개가져오기 -->
   <select id="selectOne" resultType="com.java.dto.BoardDto">
   		select * from board where bno=#{bno}
   </select>
   <!-- 이전글 -->
   <select id="selectOnePrev" resultType="com.java.dto.BoardDto">
   		select * from board
		where bno = (select prev_no from (
		select bno,lead(bno,1,-1) over(order by bgroup desc,bstep asc) 
		prev_no from board) where bno=#{bno})
   </select>
   <!-- 다음글 -->
   <select id="selectOneNext" resultType="com.java.dto.BoardDto">
   		select * from board
		where bno = (select next_no from (
		select bno,lag(bno,1,-1) over(order by bgroup desc,bstep asc) 
		next_no from board) where bno=#{bno})
   </select>
   <update id="updateBhit">
       update board set bhit = bhit+1 where bno=#{bno}
   </update>
   <!-- 게시글 수정 -->
   <update id="updateBoard">
        update board set btitle=#{btitle},bcontent=#{bcontent},
        bfile=#{bfile},bdate=sysdate
        where bno=#{bno}
   </update>
   
   <!-- 게시글 저장 -->
   <insert id="insertBoard">
   		insert into board values (
		 board_seq.nextval,#{btitle},#{bcontent},
		 #{id},board_seq.currval,0,0,0,'',sysdate
		)
   </insert>
   
   <!-- 답변달기 bstep증가부분 -->
   <!--  -->
   <update id="updateReply">
   		<![CDATA[
	   		update board set bstep = bstep+1 
	   		where bgroup=#{bgroup} and bstep>#{bstep}
   		]]>
   </update>
   <!-- 답변달기 저장 -->
   <insert id="insertReply">
   		insert into board values (
		 board_seq.nextval,#{btitle},#{bcontent},
		 #{id},#{bgroup},#{bstep}+1,#{bindent}+1,0,'',sysdate
		)
   </insert>
   
   <!-- 게시글 삭제 -->
   <delete id="deleteBoard">
       delete board where bno = #{bno}
   </delete>
   
   
</mapper>